<%- simple_form_for("#{resource_instance_name.to_s.downcase}",
      resource,
      :url => resource.new_record? ? collection_url : resource_url(resource),
      :html => { :method => (resource.new_record? ? "post" : "put") }) do |f| %>
    <% if resource.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(@account.errors.count, "erro") %></p>

      <ul>
	  <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <% if resource.respond_to? :form_attributes %>
    <% resource.form_attributes.each do |attr| %>
      <%= f.input attr, :label => false %>
    <% end %>
  <% else %>
    <% resource.attributes.each_pair do |field, value| %>
      <% next if ['id', 'created_at', 'updated_at'].include?(field) %>
      <%= f.input field.to_sym, :label => false %>
    <% end %>
  <% end %>
  <%= f.submit "Enviar" %>
<% end %>