
<%= simple_form_for(resource_name, resource, :url => session_path(resource_name)) do |f| %>
  <div id="sform">
  <%= f.input :email, :label => false %>
  <%= f.input :password, :label => false %>

  <% if devise_mapping.rememberable? -%>
    <%= f.input :remember_me, :label => false, :as => :boolean %>
  <% end -%>

  <%= f.submit "Entrar" %>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>