<%= simple_form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(@account.errors.count, "erro") %></p>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.input :display_name, :label => false %>
  <%= f.input :legal_name, :label => false %>
  <%= f.input :legal_number, :label => false %>
  <%= f.submit "Enviar" %>

<% end %>
