<p id="notice"><%= notice %></p>

<div class="main_box">
<p>  <%= @account.legal_name %></p>
<p>  <%= @account.legal_number %> </p>
<br />
<p class="big_text"><%= @account.display_name %></p>
<br />
<p>Criada em <%= @account.created_at %></p>
<p>Criada por Lucas Castro</p>
<p>Gerenciada por Lucas Castro</p>
</div>

<div class="control_box">
<p><%= link_to 'Alterar', edit_account_path(@account) %></p>
<p><%= link_to 'Remover', @account, :confirm => 'Are you sure?', :method => :delete %></p>
<p><%= link_to 'Voltar', accounts_path %></p>
</div>

<br class="clear" />
